 body{
	  background-color: #FEE140;
background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
 }
 
 #registeration_form{ 
 margin-left: 300px; 
   border-radius: 20px; 
   border: 5px solid ghostwhite;
   padding-left : 10%;
	 margin-right: 400px; 
     padding-top : 5px;   
	 box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
	 background-color: white;
	
	 } 
	 
	 


input{
	box-shadow: 0 0 1px 0  rgba(0, 0, 0, 0.6);
}	 
h1{
    color: #FEE140;
	padding-left: 15%;
	font-family: inherit;
	font-weight: bolder;
}
#sbmt{
	
	margin-left: 75px;
	width: 115px;
	height: 50px;
	font-weight: bold;
	background-color: orange;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}
#gender{
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
	margin-right: 250px;
	padding-left: 5%;
	padding-top: 5px;
}
#login{
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
	margin-right: 100px;
	padding-bottom: 10px;
	padding-left: 5%;
	padding-top: 5px;
}
#residence{
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
	margin-right: 100px;
	margin-top: 20px;
	padding-left: 5%;
	padding-top: 5px;
	padding-bottom: 10px;
}
#birth{
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
	margin-right: 100px;
	padding-bottom: 10px;
	padding-left: 5%;
	padding-top: 5px;
}